.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.reg_title{
    color: #021a57;
}

.table__row:nth-child(even){
    background-color: #fcf8e3;
}

.table__header {
    text-align: left;
    background-color: #021a57;
}

.table__cell{
    padding: 8px; 
}

.text{
    color: #ffff;
}