<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Display Database</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
<body>
<h1 class="reg_title">Registrar Database</h1>    
<table class="table"> 
    <thead> 
    <tr class="table__header"> 
        <th class="text">Question</th> 
        <th class= "text">Answer</th> 
        <th class="text">Intent</th>
        <th class="text">Time</th>
    </tr> 
    </thead> 
    <tbody> 
        {% for row in value %}  
            <tr class ="table__row"> 
                <td class="table__cell">{{row[0]}}</td> 
                <td class="table__cell">{{row[1]}}</td> 
                <td class="table__cell">{{row[2]}}</td>
                <td class="table__cell">{{row[3]}}</td>
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 
</body>
</html>